<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/resources/css/login.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/resources/css/font.css" />
    <title>Todo 4xx Error</title>
    <style>
        #gotohome {
            display: flex;
            justify-content: center;
            align-items: center;
            width: -webkit-fill-available
        }
    </style>
</head>
<body>
<div id="loginModal" class="login">
    <div class="login-content">
        <div class="login-title">TODOLIST 400 Error</div>
        <div class="login-container">
            <div class="login-content">
                <div align="center">
                    <button type="button" class="btn btn-secondary btn-lg" id="gotohome" onclick="location.href='/'">홈으로</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
