<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/resources/css/index.css" />
    <link rel="stylesheet" href="/resources/css/font.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/resources/js/addEmitter.js"defer></script>
    <script src="/resources/js/alarmShare.js"defer></script>
    <script src="/resources/js/searchShareTarget.js"defer></script>
    <script src="/resources/js/shareTodo.js"defer></script>
    <script src="/resources/js/sort.js"defer></script>
    <script src="/resources/js/category.js"defer></script>
    <script src="/resources/js/shareCategory.js"defer></script>
    <script src="/resources/js/checkbox.js"defer></script>
    <script src="/resources/js/dots.js"defer></script>
    <script src="/resources/js/titleModal.js"defer></script>
    <script src="/resources/js/titleModalUpdateButton.js"defer></script>
    <script src="/resources/js/todoAdd.js"defer></script>
    <script src="/resources/js/updateDate.js"defer></script>
    <script src="/resources/js/warningColor.js"defer></script>

    <title>Document</title>
  </head>

  <body>
    <div id="content">
      <div id="titleLine">
        <div id="title">
          <div th:if="${memberInfo}">
            <span th:text="${memberInfo.memberNickname}"></span>
          </div>
          <div th:unless="${memberInfo}">
            <span>No member info available.</span>
          </div>
          님의 ToDoList
        </div>
        <div id="sse">
          <img src="/resources/img/notification_black.png" />
          <span
            th:if="${shareCount > 0}"
            th:text="${shareCount}"
            style="
              color: white;
              border-radius: 50%;
              background-color: red;
              width: 20px;
              height: 20px;
            "
          ></span>
        </div>

        <div id="addToDoList">ToDo 추가</div>
      </div>
      <div id="tagAndSelect">
        <div id="tag">
          <div
            style="background-color: lightcoral"
            onclick="selectCategory('ALL')"
          >
            전체
          </div>
          <div
            style="background-color: orange"
            onclick="selectCategory('STUDY')"
          >
            공부
          </div>
          <div
            style="background-color: rgb(130, 186, 146)"
            onclick="selectCategory('EXERCISE')"
          >
            운동
          </div>
          <div
            style="background-color: skyblue"
            onclick="selectCategory('APPOINTMENT')"
          >
            약속
          </div>
          <div
            style="background-color: midnightblue"
            onclick="selectCategory('OTHER')"
          >
            기타
          </div>
          <div style="background-color: rgb(105, 59, 149)" id="shareCategoryButton">공유</div>
        </div>
        <form id="sortingForm">
          <select id="selectOption" name="sortingOption">
            <option value="gendate">기본 순</option>
            <option value="duedate">마감일 순</option>
          </select>
        </form>
        <input type="hidden" id="category" name="category" value="ALL" />
      </div>
      <!-- /* 할일 목록 (정렬 th:fragment 사용) */ -->
      <div id="todoListContainer" th:fragment="todoListFragment">
        <div class="ToDoList" th:each="todoList : ${todoLists}">
          <div class="checkbox-wrap">
            <input type="checkbox" class="ListCheckbox" />
          </div>
          <div id="shareTodoIndex" th:text="${todoList.todoIndex}" style="display: none"></div>
          <div class="TodoTitle" th:text="${todoList.todoTitle}"></div>
          <div class="DueDate" th:text="${todoList.todoDuedate}"></div>
          <div class="Category" th:text="${todoList.todoCategory}"></div>
          <div class="ShareMember" th:if="${todoList.member.memberNickname != memberInfo.memberNickname}" th:text="${todoList.member.memberNickname}">닉네임</div>
          <div class="pin">
            <div class="pinned" th:if="${todoList.todoIspinned}">
              <img src="/resources/img/pin.png" />
            </div>
            <div class="unpinned" th:unless="${todoList.todoIspinned}"></div>
          </div>
          <div>
            <img class="dots" src="/resources/img/dots.png" />
          </div>
          <div class="ToDoListSetting">
            <div class="complete">완료하기</div>
            <div id="share">공유하기</div>
            <!-- 삭제 버튼을 클릭했을 때 todoIndex를 파라미터로 전달 -->
            <form th:action="@{/todo/delete}" method="post">
              <input
                type="hidden"
                th:name="todoIndex"
                th:value="${todoList.todoIndex}"
              />
              <button type="submit">삭제하기</button>
            </form>
            <form th:action="@{/todo/pin}" method="post">
              <input
                type="hidden"
                name="todoIndex"
                th:value="${todoList.todoIndex}"
              />
              <button type="submit">핀 표시</button>
            </form>
            <form th:action="@{/todo/unpin}" method="post">
              <input
                type="hidden"
                name="todoIndex"
                th:value="${todoList.todoIndex}"
              />
              <button type="submit">핀 해제</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /* Modal - title클릭 시 (클릭 시 해당 화면 내에서 팝업 뜨는 것) */ -->
    <div id="titleModal" class="modal">
      <div class="titleModal-content">
        <div class="close">
          <div class="close-shape">x</div>
        </div>
        <p class="modalTitle"></p>
        <div class="TodoGenDate">23/8/21</div>
        <div class="TodoUpdateDate">23/8/22</div>
        <div class="TodoDueDate">마감기한 <input type="date" /></div>
        <div class="TodoListCategory">
          카테고리
          <select id="CategorySelect">
            <option selected>공부</option>
            <option value="">운동</option>
            <option value="">약속</option>
            <option value="">기타</option>
          </select>
        </div>
        <form action="">
          <div class="TodoContent">메모 내용</div>
          <textarea class="TodoContentEdit"></textarea>
          <div class="modalTitleButtons">
            <div class="TodoEdit">수정</div>
            <button type="submit" class="TodoEditSubmit">수정완료</button>
            <div class="TodoDelete">삭제</div>
            <div class="TodoCancel">취소</div>
            <input type="hidden" id="todoIndex" value="<%= todoList.getTodoIndex() %>">
          </div>
        </form>
      </div>
    </div>
    <!-- Modal - Todo 추가 버튼 클릭 시 -->
    <div id="AddModal" class="modal1">
      <div class="AddModal-content">
        <div class="close1">
          <div class="close1-shape">x</div>
        </div>
        <form
          th:action="@{/todo/create}"
          method="post"
          th:object="${todoListRequest}"
        >
          <textarea
            placeholder="제목"
            id="modalTitle"
            name="todoTitle"
            th:field="*{todoTitle}"
          ></textarea>
          <div class="TodoGenDate1"></div>
          <div class="TodoUpdateDate1"></div>
          <div class="TodoDueDate">
            마감기한
            <input type="date" name="todoDuedate" th:field="*{todoDuedate}" />
          </div>
          <div class="TodoListCategory">
            카테고리
            <select class="CategorySelect" name="category">
              <option value="STUDY">공부</option>
              <option value="EXERCISE">운동</option>
              <option value="APPOINTMENT">약속</option>
              <option value="OTHER">기타</option>
            </select>
          </div>
          <textarea
            placeholder="내용"
            class="TodoContentAdd"
            name="todoContent"
            th:field="*{todoContent}"
          ></textarea>
          <div class="modalTitleButtons">
            <button type="submit" class="TodoAddSubmit">추가</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /* Modal - 세팅 중 공유하기 클릭 시  */ -->
    <div id="shareModal" class="modal2">
      <div class="shareModal-search">
        <div class="close2">
          <div class="close2-shape">x</div>
        </div>
        <div class="search-container">
          <div class="search-icon">
            <img src="/resources/img/search.png" id="search-image" />
          </div>
          <form
            th:action="@{/share/search}"
            th:object="${shareTargetSearch}"
            method="post"
          >
            <input
              th:field="*{searchId}"
              type="text"
              name="searchId"
              class="search-input"
              placeholder="공유할 회원의 아이디를 입력해주세요"
            />
          </form>
        </div>
        <br />
        <div class="search-result1">
          <div class="search-result-content1">
            <div class="search-checkbox1"></div>
            <div class="search-id1">아이디</div>
            <div class="search-nickname1">닉네임</div>
          </div>
        </div>
        <form th:action="@{/share/selected}" method="post">
          <input type="hidden" name="todoIndex" th:value="${todoIndex}" />
          <div class="search-result">
            <div class="search-result-content">
              <div class="search-checkbox"></div>
              <div class="search-id">아이디</div>
              <div class="search-nickname">닉네임</div>
            </div>
          </div>
          <button class="shareButton">공유하기</button>
        </form>
      </div>
    </div>
    <!--modal - 알람 클릭 시-->
    <div id="alarmModal" class="modal3">
      <div class="alarmModal-content">
        <div class="close3">
          <div class="close3-shape">x</div>
        </div>

        <div style="font-weight: bold">회원님에게 공유된 ToDoList 내역</div>
        <br />
        <div>
          <div class="share-form">
            <div class="approve-checkbox1"></div>
            <div class="shared-nickname1">공유자</div>
            <div class="shared-title1">제목</div>
            <div class="shared-content1">내용</div>
            <div class="shared-date1">공유일자</div>
          </div>
        </div>

        <form>
          <div class="share-result">
            <!--<div class="share-result-content">
                    <div class="approve-checkbox"></div>
                    <div class="shared-nickname">공유자</div>
                    <div class="shared-title">제목</div>
                    <div class="shared-content">내용</div>
                    <div class="shared-date">공유일자</div>
                </div>-->
          </div>
          <button class="approveButton">승인</button>
          <button class="refuseButton">거절</button>
        </form>
      </div>
    </div>
  </body>

</html>