<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/resources/css/join.css"/>
    <title>Document</title>
</head>
<body>
<div id="joinModal" class="join">
    <div class="joinModal-content">
        <div class="join-title">TODOLIST</div>
        <div class="join-container">
            <div class="join-content">
                <form th:action="@{/member/join}" th:object="${joinForm}" method="post">
                    <!-- /* ID */ -->
                    <div class="join-inf">
                        <input
                                th:field="*{memberId}"
                                type="text"
                                class="join-input"
                                name="user_id"
                                placeholder="Email을 입력해주세요"
                                required
                        />
                        <p th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}">Incorrect date</p>
                    </div>
                    <div class="join-inf">
                        <input
                                th:field="*{memberNickName}"
                                type="text"
                                name="user_name"
                                class="join-input"
                                placeholder="닉네임"
                                required
                        />
                        <p th:if="${#fields.hasErrors('memberNickName')}" th:errors="*{memberNickName}">Incorrect
                            date</p>
                    </div>
                    <!-- /* PW */ -->
                    <div class="join-inf">
                        <input
                                th:field="*{memberPw}"
                                type="password"
                                class="join-input"
                                name="user_pw"
                                placeholder="비밀번호를 입력해 주세요"
                                required
                        />
                        <p th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}">Incorrect date</p>
                    </div>
                    <!-- /* pw 2차 */ -->
                    <!-- /*                        <div class="join-inf">*/ -->
                    <!-- /*                        <input*/ -->
                    <!-- /*                                type="password"*/ -->
                    <!-- /*                                name="user_pw"*/ -->
                    <!-- /*                                class="join-input"*/ -->
                    <!-- /*                                placeholder="비밀번호 확인"*/ -->
                    <!-- /*                        />*/ -->
                    <!-- /*                    </div>*/ -->
                    <!-- /* 로그인 버튼 */ -->
                    <button type="submit" id="join">회원 가입</button>

                    <div th:if="${errors}">
                        <p th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
