<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="resources/css/login.css" />
    <title>Document</title>
</head>
<body>
<div id="loginModal" class="login">
    <div class="login-content">
        <div class="login-title">TODOLIST</div>
        <div class="login-container">
            <div class="login-content">
                <form>
                    <!-- ID -->
                    <div class="login-inf">
                <span class="login-icon">
                  <img src="/resources/img/login.png" class="login-icon" />
                </span>
                        <input
                                type="text"
                                class="login-input"
                                name="user_id"
                                placeholder="Email을 입력해주세요"
                        />
                    </div>
                    <!-- PW -->
                    <div class="login-inf">
                <span class="login-icon">
                  <img src="/resources/img/key.png" class="login-icon" />
                </span>
                        <input
                                type="password"
                                class="login-input"
                                name="user_pw"
                                placeholder="비밀번호를 입력해 주세요"
                        />
                    </div>

                    <!-- 로그인 버튼 -->
                    <button type="submit" id="login">LOGIN</button>
                </form>
                <button type="submit" id="join">JOIN</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
